<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<table border="1">
  <th>Id</th>
  <th>Name</th>
  <th>Surname</th>
  <th>Age</th>
  <tbody>
  <td th:text="${user.getId()}" width="30" align="center"/>
  <td th:text="${user.getName()}" width="70" align="center"/>
  <td th:text="${user.getSurname()}" width="80" align="center"/>
  <td th:text="${user.getAge()}" width="60" align="center"/>
  </tbody>
</table>
<br/>
<a th:href="@{/users/{id}/edit(id=${user.getId()})}">edit</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
  <input type="submit" value="delete">
</form>

</body>
</html>